Source: netrunner-desktop
Section: admin
Priority: optional
Maintainer: Phoenix <phoenix@netrunner-os.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-desktop
Architecture: all
Depends: netrunner-system, netrunner-artwork, netrunner-artwork-backgrounds, netrunner-artwork-icons, netrunner-artwork-firefox, netrunner-artwork-thunderbird, netrunner-apt-config, ksuperkey, netrunner-default-settings, plasma-widget-homerun-kicker
Conflicts: plasma-netbook, kubuntu-desktop
Replaces: plasma-netbook, kubuntu-desktop
Description: Meta package for the Netrunner desktop environment
   Meta package for the Netrunner desktop environment
